@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.btn-primary {
		@apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
	}
	.post-header-item{
		@apply transition-all flex justify-start text-gray-600 hover:text-yellow-600;
	}
	
	.item-border{
		@apply rounded-md border border-blue-700/[.9];
	}
	.spacer{
		@apply transition-all w-5/6 m-auto border-sky-600 border-t;
	}
    .std-textarea{
        @apply m-auto p-2 w-full rounded-lg border-2 outline 
        outline-0 hover:outline-1 active:outline-[3px] outline-sky-600
        border-sky-700 focus:outline-none focus:ring focus:ring-sky-300;
    }
    .hoverd-graded{
        @apply hover:via-cyan-200/40;
    }
    .std-border{
        @apply rounded-2xl border-2 border-blue-300/[.8];
    }
	
    .btn-std{
        @apply transition-all border py-1 px-4 w-32 bg-cyan-200/[.12] hover:bg-sky-300/[.15] text-blue-900 hover:shadow-md std-border;
    }
	.bg-graded{
		@apply bg-gradient-to-r from-cyan-400/[0] via-cyan-200/[.15] to-cyan-400/[0];
	}
    .post-buttons{
        @apply flex justify-center flex-auto transition-all text-blue-1000 hoverd-graded bg-graded;
    }

}

body { font-family: 'Amiri', arial, serif; }
h2{
    @apply text-2xl md:text-4xl text-blue-900 transition-all;
}

option{
    @apply bg-white/40 hover:bg-graded;
}





.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

.scrollbar::-webkit-scrollbar-track {
    background: #d2d4ff;
    border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #1669dd;
    border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0f5ecc;
}
